<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" printerClass="Codeception\Specify\ResultPrinter">
    <testsuites>
        <testsuite name="PHP-Soap Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
