<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" printerClass="Codeception\Specify\ResultPrinter">
    <testsuites>
        <testsuite name="x509ds Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
